name: CI workflow

on:
  pull_request:
    branches:
      - main

jobs:
  unit-test:
    runs-on: ubuntu-latest
    name: Run Unit Test
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ vars.NODE_VERSION }}
      - name: Install
        run: npm install
      - name: Unit Test
        run: npm run test
      - name: Lint
        run: npm run lint
